@font-face {
  font-family: 'Satoshi';
  src: url('../fonts/Satoshi-Regular.woff') format('woff'),
       url('../fonts/Satoshi-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Satoshi-Bold';
  src: url('../fonts/Satoshi-Black.woff') format('woff'),
       url('../fonts/Satoshi-Black.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

/* Variables */
:root {
  --font-family: 'Satoshi', sans-serif;
  --bold-font: 'Satoshi-Bold', sans-serif;
  --bg-color: #eef4ed;
  --primary-color: #134074;
  --text-color: #0b2545;
  --secondary-color: #8da9c4;
  --primary-shadow: #8b8eaf;
  --secondary-shadow: #a17a69;
  --bottom-margin: 0.5rem;
  --bottom-margin-2: 1rem;
  --line-height: 1.7rem;
}

html, nav, .hero, .more-about, .projects, .project-card, .input-field, footer {
  transition: background-color 0.5s, color 0.5s, all 0.5s ease-in-out;
}

:root[data-theme="dark"] {
  --bg-color: #0b2545;
  --primary-color: #8da9c4;
  --text-color: #eef4ed;
  --secondary-color: #134074;
  --primary-shadow: #131313;
  --secondary-shadow: #383e56;
  --bottom-margin: 0.5rem;
  --bottom-margin-2: 1rem;
  --line-height: 1.7rem;
}

html {
  scroll-behavior: smooth;
  background-color: var(--bg-color);
}

/* CSS Resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 2px solid red; */
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

a:hover {
  font-size: 1.25rem;
  text-decoration: none;
  color: var(--secondary-color);
}

body {
  font-family: var(--font-family);
  font-size: 100%;
  color: var(--text-color);
}

nav {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 3.5rem;
  background-color: var(--bg-color);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

.brand {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-family: var(--bold-font);
  font-size: 1.25em;
}

nav h1 {
  color: var(--primary-color);
}

nav a {
  color: var(--primary-color);
  transition: var(--transition);
}

nav a:hover {
  color: var(--secondary-color);
  border-bottom: 2px solid var(--secondary-color);
}

nav ul {
  display: flex;
  gap: 1.9rem;
}

nav ul li {
  font-family: var(--bold-font);
  font-size: 1.2em;
}

.theme-toggle {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  color:var(--primary-color);
  z-index: 1000;
}

.theme-toggle:focus {
  outline: 2px solid var(--primary-color)
}

.burger-menu {
  color: var(--primary-color);
  font-size: 2rem;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  display: none;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
  max-width: 68.75rem;
  margin: auto;
}

.hero img {
  padding-top: 2rem;
  height: auto;
  width: 100%;
  max-width: 30rem;
  border-radius: 50%;
  object-fit: cover;
}

.bio-title {
  font-family: var(--bold-font);
  color: var(--primary-color);
}

.bio {
  width: 25rem;
  padding: 0.625rem;
  border-radius: 6px;
  box-shadow: 0px 2px 15px 2px var(--secondary-shadow);
  font-size: 1.3em;
}

.bio h1 {
  margin-bottom: var(--bottom-margin);
}

.bio p {
  line-height: var(--line-height);
  padding: 0.3rem 0;
}

.more-about {
  background-color: var(--bg-color);
  padding: 4rem 6rem;
  max-width: 60%;
  margin: auto;
}

.more-about-h2 {
  margin-bottom: var(--bottom-margin);
  text-align: center;
}

.more-about p {
  line-height: var(--line-height);
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 1.2em;
}

.skills {
  max-width: 68.75rem;
  margin: auto;
  text-align: center;
  margin-top: 2rem;
}

.skill-header {
  margin-bottom: 1rem;
  font-family: var(--bold-font);
  color: var(--primary-color);
}

.skills-wrapper img {
  padding: 1.25rem;
}

.icon {
  width: 11.875rem;
  height: 11.25rem;
}

.icon-card {
  background-color: #fff;
  border-radius: 11px;
  box-shadow: 0 3px 10px var(--secondary-shadow);
  padding: 20px;
  margin: 10px;
}

.projects {
  background-color: var(--bg-color);
  padding: 32px 0;
  margin-top: 2rem;
}

.project-pic {
  width: 65%;
  height: 60%;
}

.projects-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.projects-title {
  text-align: center;
  margin-bottom: 1rem;
  font-family: var(--bold-font);
  color: var(--primary-color);
}

.project-container {
  text-align: center;
  width: 21.875rem;
  padding: 1rem;
}

.project-container p {
  padding: 0.4rem;
}

.project-title {
  margin-bottom: var(--bottom-margin);
}

.project-details {
  margin-bottom: var(--bottom-margin);
}

.project-card {
  background-color: var(--bg-color);
  border-radius: 11px;
  box-shadow: 0 3px 10px var(--secondary-shadow);
  padding: 20px;
  margin: 10px;
}

.contact-title {
  font-family: var(--bold-font);
  color: var(--primary-color);
}

.contact {
  margin-top: 2rem;
}

.contact h2 {
  text-align: center;
  margin-bottom: var(--bottom-margin-2);
}

.contact-form-container {
  max-width: 40.75rem;
  margin: 0 auto;
  padding: 0.938rem;
  border-radius: 5px;
  box-shadow: 0 3px 10px var(--secondary-shadow);
}

.contact-form-container label {
  line-height: 2.7rem;
  font-family: var(--bold-font);
  color: var(--primary-color);
}

.contact-form-container textarea {
  min-height: 6.25rem;
  font-size: 14px;
}

.contact-form-container .input-field {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  border: 2px outset var(--primary-color);
  font-size: 0.875rem;
  outline: none;
  font-family: inherit;
  color: var(--text-color);
}

.input-field {
  padding: 0.5rem;
  background-color: #eef4ed;
}

.submit-btn {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  background-color: var(--primary-color);
  border: 2px solid var(--primary-color);
  border-radius: 5px;
  font-size: 1rem;
  font-family: var(--bold-font);
  color: var(--bg-color);
}

.submit-btn:hover {
  background-color: var(--bg-color);
  border: 2px solid var(--primary-color);
  cursor: pointer;
  color: var(--text-color);
}

.socials {
  display: flex;
  flex-direction: column;
  position: fixed;
  right: 1%;
  bottom: 50%;
}

.socicon {
  width: 4rem;
  height: 4rem;
  border-radius: 40px;
}

footer {
  background-color: var(--bg-color);
  padding: 1.25rem;
  text-align: center;
  margin: 2rem 0 0;
}

.scroll-up {
  position: fixed;
  right: 0.5%;
  bottom: 3%;
  cursor: pointer;
}

.up-arrow {
  width: 3rem;
  height: 3rem;
}

@media screen and (max-width: 1284px) {
  /*changes reflects on screen with a width of 1284 px and below*/
  nav {
    padding: 1.5rem 1rem;
  }

  nav ul {
    position: fixed;
    background-color: var(--bg-color);
    flex-direction: column;
    top: 86px;
    left: 0;
    width: 100%;
    text-align: center;
    transform: translateX(120%);
    transition: transform 0.5s ease-in;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 0 0 10px 10px;
  }

  nav ul li{
    margin: 0;
    padding-bottom: 1.75rem;
    border-bottom: 1px solid var(--secondary-shadow);
  }

  nav ul li:last-child {
    padding-bottom: 2rem;
    border-bottom: none;
  }

  nav ul li a {
    font-size: 1.2rem;
    font-weight: var(--bold-font);
    color: var(--primary-color);
  }

  nav ul li a:hover {
    background-color: var(--primary-color);
    color: var(--bg-color);
    border-radius: 5px;
    padding: 0.8rem 1.2rem;
    transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  }

  .burger-menu {
    display: block;
  }

  nav ul.show {
    transform: translateX(0);
  }

  .hero {
    margin-top: 4rem;
    flex-direction: column;
    gap: 0;
  }

  .hero img {
    max-width: 23rem;
  }

  .bio {
    margin-top: 2rem;
    width: 20.5rem;
  }

  .more-about {
    margin-top: 2rem;
    padding: 1rem 3.5rem;
    max-width: 100%;
  }

  .more-about h2 {
    text-align: center;
  }

  .more-about p {
    text-align: justify;
  }

  .icon {
    width: 5.875rem;
    height: 5.25rem;
  }

  .projects-container {
    flex-direction: column;
  }

  .project-container {
    width: 20.875rem;
  }

  .contact-form-container {
    max-width: 23.75rem;
  }
}

@media screen and (max-width: 420px) {
  .hero img {
    max-width: 23rem;
  }

  .bio {
    width: 18.3rem;
  }

  .more-about {
    max-width: 95%;
  }

  .project-container {
    width: 17.875rem;
  }

  .contact-form-container {
    max-width: 17.75rem;
  }
}

section {
  scroll-margin-top: 80px; /* to account for navbar size */
}